<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-10">
                <h3> New Home Stay</h3>
            </div>
            <div class="col-sm-2">
                <a href="/home" class="btn btn-primary">Danh sách Home Stay</a>
            </div>
        </div>
        <form class="w-50" action="#" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Tên</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Thành phố</label>
                <select class="form-select" aria-label="Default select example" name="country" id="country">
                    <option selected>Open this select country</option>
                    <option value="1">Hà Nội</option>
                    <option value="2">Hồ Chí Minh</option>
                    <option value="3">Đà nẵng</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="count_bedrooms" class="form-label">Số Phòng Ngủ</label>
                <input type="number" class="form-control" id="count_bedrooms" name="count_bedrooms">
            </div>

            <div class="mb-3">
                <label for="count_toilets" class="form-label">Số Phòng Vệ Sinh</label>
                <input type="number" class="form-control" id="count_toilets" name="count_toilets">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price">
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Mô Tả</label>
               
                <textarea class="form-control" placeholder="Leave a comment here" id="description" name="description"></textarea>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>